@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */
@plugin '@tailwindcss/typography';

@theme {
  --color-primary: #FBB969;
  --color-primary-dark: #A05800;
}

* {
  font-family: 'Poppins', sans-serif;
}
